export HACHYBOOP_S3_ENDPOINT=fsn1.your-objectstorage.net
export HACHYBOOP_S3_BUCKET=bag-of-holding
export HACHYBOOP_S3_PATH=some-stuff/some-subfolder
export HACHYBOOP_S3_ACCESS_KEY_ID=AKIAEXAMPLE
export HACHYBOOP_S3_SECRET_ACCESS_KEY=secret
export HACHYBOOP_OBSERVER_ID=esk
export HACHYBOOP_OBSERVER_REGION=exandria
export HACHYBOOP_RESOLVERS=91.200.176.1:53,8.8.8.8:53
export HACHYBOOP_QUESTIONS=hachyderm.io,hachyderm.wtf
export HACHYBOOP_LOCAL_RESULTS_PATH=data
